@charset "utf-8";

body {
    color: #000;
    font-family: sans-serif;
    font-size: 2em;
    text-align: center;
    background-color: rgb(2, 10, 25);
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    border: #03feff;
    border-style: solid;
    box-shadow: 0 0 54px #03feff, 0 0 54px #03feff;
    margin: auto;
    color: white;
    display: flex;
    height: 810px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em;
    text-shadow: 0 0 10px #03feff, 0 0 54px #03feff;
}

.next{
    margin-top: 30px;
    padding-bottom: 30px;
}

.cont-canvas{
     height: 625px;
}

/* Reescribir algunos estilos */
.modal-footer {
    justify-content: center;
}

.modal-content{
    border: solid #03feff 4px;
    box-shadow: 0 0 54px #03feff, 0 0 54px #03feff;
    color: white;
    background-color: #000;
    text-shadow: 0 0 14px #03feff, 0 0 54px #03feff;
    
}

.btn-play{
    padding: 10px 90px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 40px;
    
    
}
.btn-play {
    cursor: pointer;
    background-color: 0 3px 5px 5px #03feff;
    --bs-btn-color: #fff;
    --bs-btn-bg: #03feff;
    --bs-btn-border-color: #03feff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #03feff;
    --bs-btn-hover-border-color: #03feff;
    --bs-btn-focus-shadow-rgb: 225,83,97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #03feff;
    --bs-btn-active-border-color: #03feff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #03feff;
    --bs-btn-disabled-border-color: #03feff;
}

.btn-pla2 {
    cursor: pointer;
    background-color: 0 3px 5px 5px #03feff;
    --bs-btn-color: #fff;
    --bs-btn-bg: #03feff;
    --bs-btn-border-color: #03feff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #03feff;
    --bs-btn-hover-border-color: #03feff;
    --bs-btn-focus-shadow-rgb: 225,83,97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #03feff;
    --bs-btn-active-border-color: #03feff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #03feff;
    --bs-btn-disabled-border-color: #03feff;
}

.btn-pla2{
    padding: 10px 90px;
    font-weight: 700;
    text-transform: uppercase;
}

.modal-backdrop{
    background-color: rgb(2, 10, 25);
}

.modal-header{
    display: block;
}

.btn-play:hover{
    transition: 0.30s;
    background-color: #08acac;
    
}
.btn-pla2:hover{
    transition: 0.30s;
    background-color: #08acac;
    
}
/*  #tetris {
    width: 625px;
    height: 625px;
 } */